<% if  @game.winner %>
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Winner!</strong> <%= "The winner is: #{@game.winner}" %>
    </div>
<% end %>

<br/>

<% count = 1 %>
<% @game.data.each_with_index do |row, x| %>
    <% row.each_with_index do |value, y| %>
        <div style="float:left">
          <% if value.blank? %>
              <%= form_tag game_path(params[:id]), {class: 'form-horizontal', role: 'form', method: :put} do %>
                  <%= hidden_field_tag :x, x %>
                  <%= hidden_field_tag :y, y %>
                  <div class="well">
                    <div class="box">

                      <%= submit_tag 'play', :class => 'btn btn-default' %>
                    </div>
                  </div>
              <% end %>
          <% else %>
              <div class="well">
                <div class="box">
                  <h4><%= value %></h4>
                </div>
              </div>
          <% end %>
        </div>
        <% if  count % 3 == 0 %>
            <div style="clear:both"></div>
        <% end %>

        <% count += 1 %>
    <% end %>
<% end %>


<div class="well well-sm">
  Game: <%= @game.name.titleize %>
  <br/>
  Players: <%= @game.players %>

</div>

<div style="clear:both"></div>
<br/>
<%= button_to "Refresh", game_path(params[:id]), {:class => 'btn btn-primary', method: :get} %>
