<% if  @game.winner %>
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Winner!</strong> <%= "The winner is: #{@game.winner}" %>
    </div>
<% end %>

<br/>


<div id="board">
  <%= render 'game_board', {:game => @game} %>
</div>




<div class="well well-sm">
  Game: <%= @game.name.titleize %>
  <br/>
  Players: <%= @game.players %>
</div>

<div style="clear:both"></div>
<br/>
<%= button_to 'Refresh', game_path(params[:id]), {:class => 'btn btn-primary', method: :get} %>